body {
    margin: 0;
}

.nav-bar {
    display: flex;
    border-bottom: 5px solid rgb(218, 25, 61);
}

.logo-container {
    padding-left: 30px;
}

.logo {
    width: 240px;
}

.nav-logo {
    flex: 2;
}

.nav-items{
    flex: 3;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    font-size: 20px;
    font-family: roboto;
    font-weight: 400;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-shadow: -1px 1px 1px rgb(152, 148, 148);
}

.nav-right {
    flex: 1;
}

.main-container {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
}

.main-text {
    flex: 1;
    margin: auto;
}

.main-text > h1 {
    font-size: 60px;
    font-family: roboto;
    color: rgb(218, 25, 61);
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 40px;
    text-shadow: -4px 4px 5px gray;
}

.main-text > h2 {
    font-size: 40px;
    font-family: roboto;
    color: rgb(33, 42, 61);
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.main-text > h3 {
    background-color: black;
    font-size: 20px;
    font-family: Arial;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 40px;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
}

.main-text > p {
    width: 90%;
    font-size: 20px;
    font-family: roboto-slab;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.main-image {
    flex: 1;
}

.main-image > img {
    width: 100%;
    border: 5px solid rgb(209, 201, 201);
    border-radius: 10px;
}

.main-image > p {
    display: none;
}

.about {
    width: 80%;
    margin-top: 100px;
    margin-left: 100px;
}

.about-section {
    display: block;
    border: 2px solid rgb(218, 25, 61);
    position: relative;
    margin-bottom: 40px;
    border-radius: 10px;
}

.about-section > .title {
    width: 300px;
    background-color: rgb(218, 25, 61);
    color: rgb(33, 42, 61);
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    position: absolute;
    top: -10px;
    left: -20px;
    border-radius: 5px;
}

.about-section > .description {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 40px;
    font-size: 20px;
    font-family: roboto;
}

.contact {
    width: 80%;
    margin-top: 100px;
    margin-left: 100px;
}

.contact-title {
    display: inline-block;
    font-size: 24px;
    background-color: rgb(33, 42, 61);
    color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.contact-description > p {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact-section {
    display: flex;
    width: 40%;
    background-color: rgb(218, 25, 61);
    border: 4px solid rgb(218, 25, 61);
    margin-left: 8%;
    margin-top: 10px;
    border-radius: 5px;
}

.contact-method {
    flex: 1;
    position: relative;
    padding-left: 10px;
    font-size: 22px;
    background-color: rgb(218, 25, 61);
}

.contact-method > h3 {
    position: absolute;
    display: inline-block;
    margin: 0px;
    top: 4px;
}

.contact-method > img {
    position: absolute;
    width: 22%;
    left: 84px;
    top: 4px;
}

.contact-details {
    flex: 3;
    font-size: 22px;
    background-color: white;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 6px;
    border-radius: 4px;
}

.form-description {
    font-size: 20px;
    font-family: roboto;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-container {
    width: 50%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: rgba(33, 42, 61, 0.2);
}

form > label {
    font-size: 20px;
    margin-bottom: 10px;
}

form > input {
    width: 90%;
    height: 40px;
    margin-bottom: 10px;
    border: 2px solid rgb(33, 42, 61);
    border-radius: 5px;
}

form > input[type="submit"] {
    width: 20%;
    margin-left: auto;
    margin-right: 10%;
    background-color: rgb(33, 42, 61);
    color: white;
    font-size: 20px;
}

.contact-end {
    font-size: 20px;
}

.contact-end > .top {
    font-family: roboto;
    margin-top: 40px;
}

.contact-end > .bottom {
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.footer {
    background-color: rgba(33, 42, 61, 0.8);
    border: 2px solid rgb(33, 42, 61);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-top {
    display: flex;
    margin-bottom: 40px;
}

.footer-nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.footer-nav > a {
    color: white;
}

.footer-contact {
    flex: 1;
}

.footer-detail {
    position: relative;
    margin-bottom: 50px;
}

.footer-detail > img {
    position: absolute;
    width: 30px;
    display: inline-block;
}

.footer-detail > div {
    position: absolute;
    top: 4px;
    left: 40px;
    display: inline-block;
    font-size: 20px;
    color: white;
}

.footer-detail > div > a {
    color: white;
}

.footer-bottom {
    font-size: 20px;
    color: white;
}

@media (max-width: 600px) {
    .main-container {
        flex-direction: column;
    }

    .main-text > p {
        display: none;
    }

    .main-image {
        position: relative;
    }

    .main-image > img {
        opacity: 0.6;
    }

    .main-image > p {
        position: absolute;
        top: 30%;
        display: inline-block;
        margin-left: 40px;
        margin-right: 40px;
        text-align: center;
        font-size: 20px;
        font-family: roboto-slab;
        font-weight: 600;
        z-index: 1;
    }
}